*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family:'Josefin Sans', sans-serif;
}

header{
    width: 100%;height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{

    width: 100%;height: 15vh;
    background: rgba(0,0,0,0.3);
    color: white; display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
nav .logo
{
    width: 25%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .menu
{
    width: 40%;
    display:flex;justify-content: space-around;
}

nav .menu a
{
    width: fit-content;
    text-decoration: none;color: white;
    font-weight: bold;
    padding: 10px;
}
nav .menu a:hover{
    
        background: #00b894;
        color: white;  
    }

nav .menu a:first-child{
    color:#00b894;
    
}

nav .menu a:first-child:hover{
    color:#00b894;
    background-color: #fff;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


section{
    font-size: 35px;font-weight: 200;letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

}
section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    
}
section p{
    font-size: 25px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom:25px ;
    text-shadow: 1px 1px 1px black;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}
section .btnone
{
    background: #fff;
    color:#000;

}
.btnone:hover{
    background: #00b894;
    color: white;  
}
section .btntwo
{
    background: #00b894;
    color: white;
}
.change_content::after{
    color: #00b894;
content: '';
animation: changetext 10s infinite linear;
}



@keyframes changetext
{
    0%{content:"JOG FALLS";}
    25%{content:"HAMPI";}
    35%{content:"MYSORE";}
    50%{content:"BELUR";}
    70%{content:"MURUDESHWARA";}
   100%{content:"BANGALORE";}
}

div .h1
{
    animation:blinking 1.5s infinite;
}

/* gallery */

* {
    box-sizing: border-box;
    object-fit: cover;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: absolute;
    object-fit: cover;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    object-fit: cover;
    background-size: cover; 
  }
  
  .row:after {
    content: " ";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }